{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}{% endblock title%}
		</title>
			<link rel="shortcut icon" type="image/png" 
				href="{% static 'APP_NAME/images/favicon.ico' %}"/>
			
		{% block css %}
		    <link rel="stylesheet" type="text/css" 
				href="{% static "APP_NAME/css/base.css" %}" />
			<link rel="stylesheet" type="text/css" 
				href="{% static "APP_NAME/css/alacarte.css" %}" />
			<link rel="stylesheet" type="text/css" 
				href="{% static "APP_NAME/css/widgets.css" %}" />
			<link rel="stylesheet" type="text/css" 
				href="{% static "APP_NAME/css/forms.css" %}" />
			<link rel="stylesheet" type="text/css" 
				href="{% static "APP_NAME/css/jquery-ui.css" %}" />
		{% endblock css %}

		{% block js %}

			{% if GLOBALS.DEBUG %}
				<!-- in debug mode, all javascript errors are alerted -->
				<script type="text/javascript">
					// TODO: in non debug mode, send js errors to the server
					// to be logged.
					window.onerror =  function(msg, url, line, col, error) {
						var extra = !col ? '' : '\ncolumn: ' + col;
						extra += !error ? '' : '\nerror: ' + error;

						// alert the error
						alert("Error: " + msg + "\nurl: " + url + "\nline: " 
							+ line + extra);   

						// prevent browsers that natively alert errors
						var suppressNativeErrorAlert = true;
						return suppressNativeErrorAlert;
					};
				</script>
			{% endif %}

			<script type="text/javascript"
				src="//code.jquery.com/jquery-2.1.1.min.js"></script>

			<script 
				src="//code.jquery.com/ui/1.11.0/jquery-ui.min.js">
			</script>

			<script type="text/javascript">
				var ALERT_AJAX_ERRORS = true;
				var django ={{ django_vars_js|safe }};
				var handle_ajax_url = '{% url "ajax" %}';
				$(function () {
					$(document).tooltip();
				});
			</script>

			<script type="text/javascript" 
				src="{% static "APP_NAME/js/lib.js" %}"></script>


		{% endblock js %}

		{% block media %}{% endblock media %}

	</head>
	<body>

		{% block body %}

			<!-- start of header -->
			{% include "APP_NAME/_i_header.html" %}
			<div class="clear"></div>

			{% block headline %}
			{% endblock headline %}

			<!-- content in the middle (vertical middle) of the page -->
			<div id="middle">

				<!-- centering device for the middle of the page layout -->
				<div class="outer_center">
					<div class="inner_center">

						{% block middle %}
						{% endblock middle %}

						<div class="clear"></div>
					</div>
				</div>
				<!-- end of centering device for the middle of the page layout -->
				<div class="clear"></div>

			</div>
			<!-- end of the (vertical) middle of the page layout -->

			<!-- start of page footer -->
			<div id="footer">


				<div class="outer_center">
					<div class="inner_center">
						{% block footer %}

						{% endblock footer %}
					</div>
				</div>

				<div class="clear"></div>
			</div>
			<!-- end of page footer -->

		{% endblock body %}
	</body>
</html>

